{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h2>Choose path to file with events</h2>
    <form action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="What's the path of the file you ?">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <form action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="What's the path of the file you ?">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <table border=1>
        {% for key, value in {"A":1,"B":2}.items() %}

        <tr>
            <th> {{ key }} </th>
            <td> {{ value }} </td>
        </tr>

        {% endfor %}
    </table>

    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}
    </div>
    {% endif %}

    {% if "Error" in message[1]: %}
    <div class="alert alert-warning">
        {{ message[1] }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>

{% endblock %}
